*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


.user-icons {
    padding: 20px;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.profile-container {
    background-color: transparent;
    border: 1px black;
    border-radius: 25px;
    margin-top: 100px;
}

.image-container {
    background-color: #212529 ;
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.row-images {
    margin: auto;
}

.dog-images {
    margin: auto;
}

#top-row-images {
    border-bottom: white;
}

.form-background {
    background-color: #212529;
}

.footer .container {
    padding-top: 100px;
    padding-bottom: 0px;
}

.comments{
    color:rgb(255, 255, 255);
    padding-top: 20px; 
    padding-left: 20px; 
    padding-bottom: 20px;
}

.pet-profile-link{
    padding-left: 45%;
    padding-top: 20px; 
    font-size: 30px;
  }