
.footer{
    background-color: #212529;
    max-width: 100% !important;
    margin: 0px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 3px 0px;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.footerLink {
    text-decoration: none;
    color: rgb(196, 196, 196);
    margin: 5px;
}

#footer-p{
    color: #fff; 
    margin-bottom: 0px !important;
    margin-right: 5px;
}

