a.nav-link.active {
  color: #fff;
  background-color: #212529 !important;
}

a.nav-link {
  color: #212529 
}

a.navbar-brand {
  font-size: 30px;
}

#create-pet-img {
  width: 725px;
  height: 300px;
  margin-bottom: 15px;
  margin-left: 25px;
}