*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.user-profile {
  display: flex;
  margin-top: 30px;
}

#user-info {
  display: flex;
  flex-wrap: wrap;
  position: absolute;  
  top: 20%;
  margin: 0% 10%;
}

.user-icons {
  padding: 20px;
  font-size: 25px;
  margin-top: 35px;
}

#delete-btn, #cancel-btn {
  position: absolute;
  top: 80%;
  right: 40%;
}


.user-btn {
  margin: 10px;
} 

.update-user {
  position: absolute;
  top: 75%; 
  margin-left: 40rem;
  display: flex;
  justify-content: center;
}

#update-img {
  width: 700px;
  margin-bottom: 15px;
  margin-left: 35px
}

.dog-list {
  display: flex;
  justify-content: ;  
}

@media screen and (max-width: 768px) { 
  #user-info {
    position: fixed;  
    top: 20%;
    margin: 0% 10%;
  }
  
  .update-user {
    right: 21%;
  }

  .user-btn {
    height: 60px;
    width:200px;
  }
}

@media screen and (max-width: 575px) {
  .user-icons {
    padding: 0;
    margin: 0;
  }
  .update-user {
    right: 22%;
  }
  .user-btn {
    height: 65px;
    width:85px;
    ;
  }
}
